<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <title>#STORY</title>
</head>

<body>

    <h3>환영합니다.</h3>
    <li><a href="home/register">회원가입</a></li>
    <li><a href="home/login">로그인</a></li>
    <li><a href="/posts">게시판</a></li>
    <li><a href="/mypage">마이페이지</a></li>

</body>

</html>